[user]
	name = Michael Vilensky
	email = michael.vilensky@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignoreglobal
[alias]
    ru = remote update
    co = checkout
    st = status

    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --all --decorate=short --abbrev-commit --date=relative
    ggraph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --decorate=short --abbrev-commit --date=relative
[push]
    default = tracking

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
